<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
	<header th:insert="~{fragments :: header}"></header>

	<div class="container">
		<div class="title d-flex justify-content-center my-3">
			<h1>Le categorie:</h1>
		</div>

		<!-- If list is empty -->
		<th:block th:if="${list.isEmpty()}">
			<div class="title d-flex justify-content-center mt-5">
				<h1>Non è presente nessuna categoria</h1>
			</div>
		</th:block>

		<!-- If list contains elements -->
		<th:block th:if="${!list.isEmpty()}">
			<div class="search-container">

			<div 
			th:each="category : ${list}"
			th:object="${category}"
			class="card-container d-flex align-items-center justify-content-between my-1" 
			>
				<span th:text="*{name}"></span>
					<form sec:authorize="hasAuthority('ADMIN')" th:action="@{'/categories/delete/' + *{id}}" method="POST">
						<button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
					</form>
					<div sec:authorize="hasAuthority('ADMIN')" class="me-2"><a
						th:replace="~{fragments :: button-detail(@{'/categories/edit/' + *{id}}, 'Modifica')}"></a></div>
			</div>
			</div>
		</th:block>

		<div sec:authorize="hasAuthority('ADMIN')">
			<a th:insert="~{fragments :: button-detail(@{'/categories/create'}, 'Aggiungi categoria')}"></a>
		</div>
	</div>
</body>

</html>